html
  head
    title= title
    link(rel="stylesheet", href=context + "/css/hello.css")
  body
    header
        img(src="https://avatars0.githubusercontent.com/u/43047548?s=200&v=4" width="50px")
        .headerText CD Acceleration with CloudBees Core Workshop
    section.helloworld
      h1#message= message
      h2 from #{name}
    footer.info
        p Build Number: #{buildNumber}  Commit: #{shortCommit}
